*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'open sans ';
}


/*HEADER*/
header{
    width: 100%;
    height: 600px;
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2c84c93, #f2984a80), url(../img/portadaPrincipal.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2c84c93, #f2984a80), url(../img/portadaPrincipal.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav .logo{
    height: 70px;
}
.logo img{
    height: 100%;
    vertical-align: top;
    
}
nav.contenedorMenu{
    height: 90px;
    width: 90%;
    margin: auto;
    overflow:hidden ;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav{
    height: 20%;
    display: flex;
    width: 90%;
    max-width: 1000px;
    justify-content: space-between;
    align-items:center;

}
.icono {
    display: none;
    color: #fff;
    font-size: 24px;
    padding: 23.5px 20px;
}
.icono:hover{
    cursor: pointer;
}
/*Hamburguesa-MENU*/
.hamburguesa{
    height: 100%;
    width: 70px;
    text-align: center;
    display: none;
}
.hamburguesa img{
    vertical-align: top;
    padding: 5px;

}
nav  a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    font-size: 16px;
    padding: 10px 10px ;

}
nav >a:hover{
    text-decoration: underline;

}
header .textos-header{
    display: flex;
    height: 100px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 15%;
   
}
.textos-header h1{
    font-size: 50px;
    color: #fff;
    margin-left: 20px;

} 
.textos-header h2{
    font-size: 30px;
    font-weight: 300;   
    color: #fff;
    margin-left: 20px;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;

}

/*footer*/
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;

}
.content-foo{
    text-align: center;

}
.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;

    
}
.content-foo p{
    color: #ccc;    
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
/*RECONOCIMIENTO*/
.reconocimientos{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}
.reconocimiento{
    background: #e7a367;
    width: 70%;
    height:max-content;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;

}
.reconocimientos .reconocimiento img{
    width: 70%;
    object-fit: cover;
    display: block;
    border-radius: 50px;
}
.reconocimientos .reconocimiento >  .contenido-texto-card{
    width: 80%;
    color: #fff;
    text-align: justify;
    padding: 10px;
}
.reconocimientos .reconocimiento > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
    font-size: 15px;
    
}
.reconocimientos .reconocimiento > .contenido-texto-card h4{
    font-weight: 300;
    padding-top: 5px;
    font-size: 20px;
}
/*clietes*/
.cards{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;

}
.cards .card{
    background: #F2994A;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 170px;
    height: 170px;
    object-fit: cover;
    border: 3px solid #ffff;
    border-radius: 50%;
    display: block;

}
.cards .card >  .contenido-texto-card{
    width: 60%;
    color: #fff;
}
.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
    font-size: 20px;
    
}
.cards .card > .contenido-texto-card h4{
    font-weight: 300;
    padding-top: 5px;
    font-size: 30px;
    
}
.titulo{
    color:  #5e3918;
    font-size: 20px;
    text-align: center;  
    padding: 20px;

}

@media screen and (max-width: 900px){
    /*HEADER*/
    header{
        background-position: center;
    }
    header .textos-header{
        margin-top: 20%;
       
    }
    .textos-header h1{
        font-size: 30px;
    
    }
    .textos-header h2{
        font-size: 20px;
    }
   /*foreer*/
    .contenedor-footer{
        flex-direction: column;
        border: none;

    }
    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4{
        border: none;
    }
    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }
    .titulo-final{
        font-size: 20px;
    }
      
    
    /*MENU*/
    .hamburguesa{
        display: block;
    }
    .enlaces{
        position: fixed;
        z-index: 1000;
        background:rgb(219, 174, 106) ;   
        left: 0;
        top: 50px;
        width: 40%;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        transform: translateX(-100%);


    }
    .enlaces.Eactivo{
        transform: translateX(0%);
    }
     /*cliente*/
     .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .cards .card{
        width: 90%;

    }
    .cards .card:first-child{
       margin-bottom: 30px;
        
    } 
    
}
@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0 ;
        
    }
    nav >a {
        margin-right: 5px;
    }
    .textos-header h1{
        font-size: 35px;
    }
    .textos-header h2{
        font-size: 20px;
    }
    
    /*foreer*/
    .contenedor-footer{
        flex-direction: column;
        border: none;

    }
    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4{
        border: none;
    }
    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }
     
    /*MENU*/
    .hamburguesa{
        width: 50px;
    }
    .enlaces{
        position: fixed;
        z-index: 1000;
        background:rgb(219, 174, 106) ;   
        left: 0;
        top: 50px;
        width: 40%;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        transform: translateX(-100%);


    }
    .enlaces.Eactivo{
        transform: translateX(0%);
    }
   .logo img{
    content:url("../img/LGALY.png");
    }
      /*clientes*/
      .cards .card{
        height: 400px ;
        display: flex;
        flex-direction: column;
        align-items: center ;

    }
    .cards .card img{
        width: 90px;
        height: 90px;
    }
}